body {
  background-size: cover;
  height: 100%;
	margin: 0;
  padding: 0;
  background-attachment: fixed;
}
@import url('https://fonts.googleapis.com/css?family=Cormorant');
@import url('https://fonts.googleapis.com/css?family=Space+Mono');
@import url('https://fonts.googleapis.com/css?family=Eczar');
@import url('https://fonts.googleapis.com/css?family=BioRhyme');
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Eczar');
@import url('https://fonts.googleapis.com/css?family=Nixie+One');
#container {
	width: auto;
	height: auto;

	
}
#header {
	background-color: red;
	margin-left: auto;
	margin-right: auto;
	right: 50%;
	width: 50%;
	text-align: center;
	font-size: 40px;
	height: 50px;
}
}
body {
  margin: 0;
  padding: 0;
  background: #ccc;
}
#navbar{

  width: 90%;
  margin: auto;
  margin-top: 1%;
  justify-content: space-around;
  box-shadow: 
  font-family: 'Eczar', serif;
  font-weight: 800;
  border-bottom-style: solid;
}





 
#navbar ul {
  font-family: 'Eczar', serif;
  font-weight: 800;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}
#navbar li {
  font-family: 'Eczar', serif;
  font-weight: 800;
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  border-bottom: 1px solid #888;
}
 
#navbar a {
  font-family: 'Eczar', serif;
  font-weight: 800;
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}
 
#navbar a:hover {
  background-color: tomato;
}
 
#navbar a:active {
  background-color: red;
  color: #444;
  cursor: default;
}
 
@media screen and (min-width: 600px) {
  #navbar li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 50px;
    font-size: 1.4em;
  }
 
  #navbar li {
    display: inline-block;
    margin-right: -4px;
  }
}
.info_section {
  font-family: 'BioRhyme', serif;
}

.achievements_section {
  padding: 10px;
  position: relative;
  height: auto;
  border: 5px solid #eee;
  width: 90%;
  margin: auto;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 5%;
}

.intersts_section {
  padding: 10px;
  margin-top: 100px;
  position: relative;
  height: auto;
  border: 5px solid khaki;
  width: 90%;
  margin: auto;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  margin-top: 15%;
}

.hobbies_section {
  padding: 10px;
  margin-top: 100px;
  position: relative;
  height: auto;
  border: 5px solid tomato;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  width: 90%;
  margin: auto;
margin-top: 15%;
margin-bottom: 2%;
}

#header1 {
  background-color: violet;
  font-family: 'Nixie One', cursive;
  font-weight: 900;
  text-align: center;
  font-size: 50px;
  color : wheat;
}
.circle {
  display: block;
  width: 150px;
  height: 150px;
  margin: 1em auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-border-radius: 99em;
  -moz-border-radius: 199em;
  border-radius: 199em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);  
}
.right {
  float: right;

}
.left {
  float: left;
  margin-right: 50px;
  margin-top: -40px;
}
.img {
  margin-top: -50px;
  border-radius: 199em;
  border: 5px solid #eee;
  box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
  overflow: hidden;;
}


.shadow1{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.shadow1{
  box-shadow:
 -6px -6px 8px -4px rgba(250,254,118,0.75),
  6px -6px 8px -4px rgba(254,159,50,0.75),
  6px 6px 8px -4px rgba(255,255,0,0.75),
  6px 6px 8px -4px rgba(0,0,255,2.75);
}

.shadow2{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.shadow2{
  box-shadow:
 -6px -6px 8px -4px rgba(250,254,118,0.75),
  6px -6px 8px -4px rgba(254,159,50,0.75),
  6px 6px 8px -4px rgba(255,255,0,0.75),
  6px 6px 8px -4px rgba(0,0,255,2.75);
}


.shadow2:before, .shadow2:after{
  position:absolute;
  box-shadow:0 10px 25px 20px #518C96;
  top:40px;left:10px;bottom:50px;
  width:15%;
  z-index:-1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow2:after{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;left: auto;
}


.shadow3{
  position:relative;
  box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 20px rgba(0, 0, 0, 0.1) inset;
}
.shadow3{
  box-shadow:
 -6px -6px 8px -4px rgba(0,4,11,0.75),
  6px -6px 8px -4px rgba(254,159,50,0.75),
  6px 6px 8px -4px rgba(255,25,0,0.75),
  6px 6px 8px -4px rgba(0,0,25,2.75);
}


.shadow3:before, .shadow3:after{
  position:absolute;
  box-shadow:0 10px 25px 20px #518C96;
  top:40px;left:10px;bottom:50px;
  width:15%;
  z-index:-1;
  -webkit-transform: rotate(-8deg);
  -moz-transform: rotate(-8deg);
  transform: rotate(-8deg);
}
.shadow3:after{
  -webkit-transform: rotate(8deg);
  -moz-transform: rotate(8deg);
  transform: rotate(8deg);
  right: 10px;left: auto;
}
.box {
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}
.box::after {
  
  -webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box:hover {
  -webkit-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
}

.box:hover::after {
    opacity: 1;
}

