body, html {
  height: 100%;
  margin: 0;
  font: 400 15px/1.8 "Lato", sans-serif;
  color: #777;
  background-color: darkgray;
}
@import url('https://fonts.googleapis.com/css?family=Alfa+Slab+One|Eczar');
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import url('https://fonts.googleapis.com/css?family=Arima+Madurai');
@font-face {
  font-family: 'Sofia';
  font-style: normal;
  font-weight: 400;
  src: local('Sofia'), local('Sofia-Regular'), url(http://fonts.gstatic.com/s/sofia/v5/f2JBzUtFBEg-kZNlFQ7f-Q.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin */
@font-face {
  font-family: 'Annie Use Your Telescope';
  font-style: normal;
  font-weight: 400;
  src: local('Annie Use Your Telescope'), local('AnnieUseYourTelescope'), url(https://fonts.gstatic.com/s/annieuseyourtelescope/v6/2cuiO5VmaR09C8SLGEQjGka-vN3cnM35kL5a2hXIL_33rGVtsTkPsbDajuO5ueQw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}



.bgimg-1, .bgimg-2, .bgimg-3 {
  position: relative;
  opacity: 0.65;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

}
.bgimg-1 {
  background-image: url('./media/start.jpg');
  min-height: 100%;
}

.bgimg-2 {
  background-image: url("./media/2nd.jpg");
  min-height: 100%;
}

.bgimg-3 {
  background-image: url("./media/last.jpg");
  min-height: 100%;
}
.bgimg-4 {
  background-image: url("./media/srk.jpg");
  min-height: 400px;
}

.caption {
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  font-family: 'Lobster', cursive;
  font-weight: bold;
  text-align: center;
}

.caption span.border {
  text-align: center;
  color: #fff;
  padding: 18px;
  font-size: 25px;
}
.intro {
  margin: -1.15%;
  font-family: 'Sofia';
  font-size: 140%;
  font-weight: 200;  color: purple;
  text-align: center;
  background-color: turquoise;

}
.link2 {
  font-family: 'Sofia-Regular';
  font-size: 140%;
  color: wheat;
}



h3 {
  letter-spacing: 5px;
  text-transform: uppercase;
  font: 20px "Lato", sans-serif;
  color: #111;


